{% extends "base.html" %}

{% block title %}
    TasksApp - Tasks
{% endblock title %}

{% block content %}
    <section class="tasks">
        <div class="tasks__container container">
            <div class="tasks__forms">
                <div class="tasks__forms-container">
                    <form method="POST" accept-charset="utf-8" class="tasks__form" id="tasksForm">
                        <div class="tasks__form-title">
                            <h1>Add a Task</h1>
                            <a id="hideBtn">Hide</a>
                        </div>
                        <div class="tasks__form-inputs hide-form">
                            <i class='bx bx-pencil tasks__form-icon'></i>
                            <input
                                type="text"
                                class="tasks__form-input"
                                placeholder="Title"
                                autocomplete="off"
                                name="title"
                            />
                        </div>
                        <div class="tasks__form-textarea hide-form">
                            <textarea name="description" placeholder="Description" cols="10" rows="5"></textarea>
                        </div>
                        <div class="tasks__form-btns hide-form">
                            <button class="tasks__form-btn" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tasks__lists">
                <div class="tasks__lists-user">
                    <h1>User: {{ username }}</h1>
                </div>
                <div class="tasks__lists-list" id="addTasks">
                    {% for t in tasks %}
                        <div class="tasks__task">
                            <p class="tasks__task-title">
                                Title: {{ t.title }}
                            </p>
                            <p class="tasks__task-description">
                                Description: {{ t.description }}
                            </p>
                            <p class="tasks__task-date">
                                Date: {{ t.timestamp.strftime('%Y/%m/%d') }}
                            </p>
                            <div class="tasks__task-btns">
                                <a href="/tasks/edit/{{ t.id }}" class="tasks__task-btn">
                                    <i class='bx bx-edit tasks__task-icon'></i>
                                </a>
                                <a href="/tasks/delete/{{ t.id }}" class="tasks__task-btn delete-btn">
                                    <i class='bx bx-trash tasks__task-icon'></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
