{% extends "base.html" %}

{% block title %}
    TasksApp
{% endblock title %}

{% block content %}
    <section class="home">
        <div class="home__container container">
            <div class="home__content">
                <h1 class="home__content-title">
                    Welcome to TasksApp
                </h1>
                <span class="home__content-desc">
                    A simple app in which you can create a lists for all your tasks
                    and have it always with you on your phone!
                </span>
            </div>
            <div class="home__forms">
                <form action="{{ url_for('signin') }}" method="POST" accept-charset="utf-8" class="home__login" id="homeLogin">
                    <div class="home__login-title">
                        <h1>Sign In</h1>
                    </div>
                    <div class="home__login-error" id="homeLoginError"></div>
                    <div class="home__login-inputs">
                        <i class='bx bx-user home__login-icon'></i>
                        <input 
                            type="text" 
                            class="home__login-input" 
                            placeholder="Username"
                            autocomplete="off"
                            name="username"
                            id="usernameLogin"
                        />
                    </div>
                    <div class="home__login-inputs">
                        <i class='bx bx-lock-alt home__login-icon'></i>
                        <input 
                            type="password" 
                            class="home__login-input"
                            placeholder="Password"
                            name="password"
                            id="passwordLogin"
                        />
                    </div>
                    <div class="home__login-help">
                        <a href="" class="home__login-forgot">Forgot password?</a>
                    </div>
                    <div class="home__login-btns">
                        <button type="submit" class="home__login-btn">
                            Sign In
                        </button>
                    </div>
                    <div class="home__login-info">
                        <span class="home__login-desc">Don´t have an account?</span>
                        <a href="{{ url_for('signup') }}" class="home__login-logup">Create a new one!</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
