@keyframes animate-forms {
    0% {
        trasform: scale(1, 1);
    } 50% {
        transform: scale(1.1, 1.1);
    } 100% {
        transform: scale(1, 1);
    }
}

.home {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        gap: 1rem;
        text-align: center;

        &-title { font-size: 2.5rem; }
        &-desc {
            font-size: 1.3rem;
            color: #fff;
        }
    }

    &__forms {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__login {
        background: #fff;
        border-radius: .5rem;
        padding: 2rem 2rem;
        width: 80%;
        text-align: center;
        display: grid;
        gap: 1.5rem;

        &-title {  font-size: 1.2rem; }

        &-error {
            color: #ff0000;
            font-size: 1.1rem;
        }
        
        &-inputs {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: 1rem;
            background: #ccc;
            padding: 1.125rem 1rem;
            border-radius: .5rem;
        }

        &-icon {
            color: #1a1a1a;
            font-size: 1.5rem;
        }

        &-input {
            border: none;
            outline: none;
            background: #ccc;
            font-size: 1.1rem;
            font-weight: 600;
            width: 100%;
        }

        &-btn {
            width: 100%;
            padding: 15px 0;
            background: #243b55;
            border-radius: .5rem;
            border: none;
            outline: none;
            color: #fff;
            font-size: 1.1rem;
            cursor: pointer;
        }

        &-info {
            display: grid;
            gap: 1rem;
            color: #1a1a1a;
            font-size: 1.1rem;
        }

        &-forgot {
            font-size: 1.1rem;
            color: #1a1a1a;
            font-weight: 700;
            cursor: pointer;
        }

        &-logup {
            color: #243b55;
            font-weight: 700;
            cursor: pointer;
            animation: 3s animate-forms infinite;
        }
    }
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 600px) {
    .home {
        &__container { grid-template-columns: 1fr; }
    }
}
