.edit {
    &__forms {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        background: #fff;
        border-radius: .5rem;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        text-align: center;
        width: 30%;
    }
}
